/* Estilos generales para el formulario */
.head {
    background-color: #2a68ff;
    border-radius: 12px;
    text-align: center;
    font-family: 'poppins', sans-serif;
    color: #ffffff;
    margin: auto 40px;
    padding: 10px 0;
}

.formContainer {
    font-family: 'poppins', sans-serif;
    color: #2a68ff;
    max-width: 400px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 10px 12px 14px rgba(0, 0, 0, 0.524);
    background-color: #f9f9f9;
    border: 12px #2a68ff solid;
}

.formContainer input,
.formContainer select {
    font-size: large;
    color: #2a68ff;
    border: solid 1px #2a68ff;
    border-radius: 12px;
    position: relative;
    width: 90%;
    padding: 9px;
}

.formContainer button {
    font-family: 'poppins', sans-serif;
    font-size: large;
    background-color: #2a68ff;
    color: #fff;
    cursor: pointer;
    border: 0;
    padding: 5px 9px;
    border-radius: 12px;
    margin-right: 5px;
    margin-top: 10px;
}

.formContainer a,
.formContainer a:hover {
    text-decoration: none;
    color: inherit;
}

.formContainer button:hover {
    background-color: #ffffff;
    color: #2a68ff;
    border: 2px solid #2a68ff;
}



/* Estilos para los mensajes de error */
.errorMessage {
    color: #dc3545;
    font-size: 14px;
    padding-left: 10px;
}

/* Estilos para etiquetas */
.formLabel {
    font-weight: bold;
    padding: 10px;
}

/* Estilos para contenedor de botones */
.buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.select {
    display: flex;
    padding: 2px;
    font-size: 12px;
    position: relative;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
}

.successMessage {
    font-family: 'poppins', sans-serif;
    font-weight: bold;
    color: #ffffff;
    max-width: 420px;
    margin: 10px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: rgba(0, 128, 0, 0.505);
    text-align: center;
}