/* Card.module.css */
.card {
   border: 1px solid #e1e1e1;
   border-radius: 8px;
   padding: 8px;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   background-color: #ebebeb;
   text-align: center;
   width: 16%;
   /* Ancho del 25% y se resta el margen */
   height: calc(120%);
   margin: 10px;
   transition: transform 0.2s ease-in-out;

   &:hover {
      transform: scale(1.05);
   }
}

.image {
   width: 150px;
   /* Tamaño deseado para el círculo */
   height: 100px;
   margin: 20px auto;
   /* Margen para separar las imágenes */
   border-radius: 8%;
   /* Hace que el div sea un círculo */
   overflow: hidden;
   /* Oculta cualquier parte de la imagen que esté fuera del círculo */
   background-color: #f0f0f0;
   /* Color de fondo del círculo */
   display: flex;
   justify-content: center;
   align-items: center;
}

.image img {
   max-width: 100%;
   /* Asegura que la imagen no se desborde del círculo */
   max-height: 100%;
}

h3 {
   margin: 0;
   font-size: 1rem;
   font-weight: 600;
}

h4 {
   margin: 0;
   font-size: 1rem;
   font-weight: 300;
}