@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

.catcher {
    margin: 0 6px;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    color: #252b36;
    border-radius: 6px;
}

.buttonSearch {
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    color: #2a68ff;
    border-radius: 6px;
    background-color: #ffffff;
    padding: 0 18px;
}