@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;800&display=swap');

.container {
   background-color: #2a68ff;
   color: #ffffff;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 10px 0;
   border-radius: 12px;
   margin: 0 20px;
}

.container button {
   background-color: #ffffff;
   padding: 10px;
   border-radius: 8px;
   font-family: 'poppins', sans-serif;
   font-size: small;
   color: #2a68ff;
   border: 0;
   margin-right: 20px;
}

.container input {
   height: fit-content;
   border-radius: 8px;
   border: 0;
   margin: 0 10px;
   color: #2a68ff;
   font-family: 'poppins', sans-serif;
   font-size: large;
}

.container a,
.container a:hover {
   text-decoration: none;
   color: #2a68ff;
}