.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Opcional: Alinea verticalmente los elementos */
}

.container h4 {
    margin: 0;
    padding: 10px;
}

.container button {
    margin: 0;
    padding: 10px;
    margin-right: 4px;
    border-radius: 12px;
    background-color: #2a68ff;
    color: white;
    border: 0;
}